<html>
	<head>
		<title>Political Resources</title>
		<link rel='stylesheet' type='text/css' href='/css/style.css'>
	</head>
	<body>
    <h1>Resources for engaging with important issues in the wake of the election</h1>
