<% include partials/header.ejs %>
		<h2>What issue do you want to engage with?</h2>
    <% issues.forEach(function(issue) {%>
			<div class="issue">
				<h3><a href="/<%= engagement %>/<%= issue.link %>"><%= issue.name %></a></h3>
			</div>
		<% }) %>
<% include partials/footer.ejs %>
